.footer-link {
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    position: relative;
}

.footer-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -2px;
    background-color: yellow;
    transition: width 0.3s ease;
}

.footer-link:hover::after {
    width: 100%;
}